[scripts]
###############################################################################
# Auditing Commands
###############################################################################
audit = "bcr run audit:npm && bcr run audit:pip"
audit:npm = "npm audit --production"
audit:pip = "safety check --full-report"


###############################################################################
# Build Related Functions
###############################################################################
clean = [
	"rimraf dist src/shapeandshare_command_runner.egg-info **/__pycache__ .coverage coverage.xml htmlcov",
	"bcr run uninstall:wheel"
	]
uninstall:wheel = "pip uninstall -y shapeandshare.command.runner"
prebuild = [
	"bcr run clean",
	"pip install -r ./requirements.build.txt",
	"pip install -r ./requirements.test.txt",
	"pip install -r ./requirements.txt"
	]
build = "bcr run prebuild && python -m build"


###############################################################################
# Code Linting
###############################################################################
lint = [
	"bcr run lint:pylint:check",
	"bcr run lint:isort:check",
	"bcr run lint:black:check"
	]
lint:pylint:check = "pylint src"
lint:isort:check = "isort --check --diff ."
lint:black:check = "black --line-length=120 --target-version=py39 --check --diff ."
lint:fix = "bcr run lint:isort:fix && bcr run lint:black:fix"
lint:isort:fix = "isort ."
lint:black:fix = "black --line-length=120 --target-version=py39 ."


###############################################################################
# Git Hooks
###############################################################################
prepare = "husky install"


###############################################################################
# Testing and Code Coverage
###############################################################################
test = "bcr run test:unit && bcr run coverage"
test:unit = "python test/unit/setup.py"
test:integration = "bcr run install && python test/integration/setup.py"
install = "bcr run build && pip install ./dist/*.whl"
coverage = [
	"bcr run coverage:report",
	"bcr run coverage:report:html",
	"bcr run coverage:report:xml"
	]
coverage:report = "coverage report"
coverage:report:html = "coverage html"
coverage:report:xml = "coverage xml"


###############################################################################
# Testing Area
###############################################################################
check="echo you && echo are && echo so && echo loved"
